@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  --custom-color1: #4e0685;
  --custom-color2: #87b4c0;
  background-image: linear-gradient(var(--custom-color1), var(--custom-color2));
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
