@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --custom-color1: #4e0685;
  --custom-color2: #87b4c0;
  background-image: linear-gradient(var(--custom-color1), var(--custom-color2));
  color: rgb(var(--foreground-rgb));
  padding: 1rem;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
